[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pydantic = "*"
loguru = "*"
sqlalchemy = "==1.4.46"
tqdm = "*"
pymysql = "*"
financialdata = {editable = true, path = "."}
celery = "*"
fastapi = "==0.63.0"
uvicorn = "==0.14.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
