[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.1.5"
requests = "*"
pydantic = "*"
loguru = "*"
sqlalchemy = "==1.4.20"
tqdm = "*"
pymysql = "==1.0.2"
celery = "*"
fastapi = "==0.63.0"
uvicorn = "==0.14.0"
pytest-cov = "==2.11.1"
pytest-mock = "==3.5.1"
financialdata = {editable = true, path = "."}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
