[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.1.5"
requests = "*"
pydantic = "*"
loguru = "*"
sqlalchemy = "==1.4.20"
tqdm = "*"
pymysql = "==1.0.2"
financialdata = {editable = true, path = "."}
celery = "*"
fastapi = "==0.63.0"
uvicorn = "==0.14.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.6"
